<!-- <div class = "container">
  <h1>Discover plenty of amazing pools</h1>
</div> -->

    <div class="card-container">
      <div class="cards">
        <% @pools.each do |pool|  %>
          <div class="card-pool">
            <%= link_to pool_path(pool) do %>
              <%= cl_image_tag pool.picture, height: 200 %>
            <% end %>
            <div class="card-pool-infos">
              <div>
                <div>
                  <h2><%= pool.title %></h2>
                </div>
                <p>Offered by <%= pool.user.first_name %> <i class="far fa-user"></i></p>
                <h3 class="card-pool-price"><%= pool.daily_price %> € / jour</h2>
              </div>
            </div>
<<<<<<< HEAD
=======
            <p>Offered by <%= pool.user.first_name %> <i class="far fa-user"></i></p>
            <h3 class="card-pool-price"><%= pool.daily_price %> € / day</h2>
>>>>>>> 132e0e04aedc32ea1af102bb27b8acd58394ea2e
          </div>
        <% end %>
      </div>

      <div
        id="map"
        style="width: 50%;
        height: 900px;
        "
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>

</div>
