<div class="pool-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @pool.picture %>);">
  <h1>Welcome to <%= @pool.user.first_name %>'s pool</h1>
</div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="ModalTitle">Book now</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-price-info" id="PriceInfo">
          <p>Daily rate is : <span id="modal-daily-price"><%= @pool.daily_price %></span>€</p>
          <p>Add dates for custom rate</p>
          <p><span id="total-price">--</span>€</p>
        </div>
        <div class="modal-body">
          <%= render 'bookings/form', booking: @booking, pool: @pool %>
        </div>
      </div>
    </div>
  </div>

<!-- pool info -->
<div class="bg-white">
  <div class="container p-3">
    <div class="row">

      <div class="col-7">

        <div class="description">
          <!-- Title + infos + userimg -->
          <div class="notification pt-2 pb-2">
            <div class="notification-content">
              <h3><%= @pool.title %></h3>
              <p> <small><%= @pool.address %></small></p>
            </div>
            <img src= <%= @pool.user.profile_picture %>, class="avatar-large"/>
          </div>
          <!-- /////////// -->
          <div class="infos">
            <p><i class="fas fa-users"></i> <%= @pool.capacity %> people <br>
            <i class="fas fa-fire"></i> <%= @pool.heated ? 'Yes' : 'No'  %>
            </p>
            <p class="p-description"><%= @pool.description %></p>
            <%= link_to "Book now", pools_path, class: "book-btn" %>
          </div>
        </div>
      </div>

      <div class="col-5">
        <div class="price-card">
          <%= cl_image_tag @pool.picture, height: 300, width: 400, crop: :fill %>
        <div class="price-card-body">
          <h3 class="price-card-title"><%= @pool.daily_price %>€ / day</h3>
        </div>

      </div>
    </div>
  </div>
</div>

