<div class="history-card">
  <img src= <%= booking.pool.picture %> >
  <div class="history-card-infos">
    <h2><%= booking.pool.title %></h2>
    <p><%= booking.starting_date.strftime("%d/%m/%Y") %> - <%= booking.ending_date.strftime("%d/%m/%Y") %></p>
    <% if current_user == booking.pool.user %>
      <p><i class="far fa-user"></i> <%= booking.user.first_name.capitalize %> <%= booking.user.last_name.capitalize %></p>
    <% else %>
      <p><%= booking.pool.city %></p>
      <p><i class="far fa-user"></i> <%= booking.pool.user.first_name.capitalize %> <%= booking.pool.user.last_name.capitalize %></p>
    <% end %>

    <% if current_user == booking.pool.user %>
      <div class="status-container">
        <% if booking.booking_status == 'accepted'%>
          <h3 class="status accepted"><i class="fas fa-swimming-pool"></i> Accepted<h3>
        <% elsif booking.booking_status == 'declined' %>
          <h3 class="status declined"><i class="fas fa-user-times"></i> Declined<h3>
        <% else %>

        <!-- Dropup button -->
        <div class="btn-group dropup">
          <button type="button" class="btn dropdown-toggle status pending" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pending
          </button>
          <div class="dropdown-menu">
            <%= link_to 'Accept', accept_booking_path(booking), class: 'badge badge-success', method: :patch %>
            <%= link_to 'Decline', decline_booking_path(booking), class: 'badge badge-danger', method: :patch %>
          </div>
        </div>
        <% end %>
      </div>
    <% else %>
       <div class="status-container">
        <% if booking.booking_status == 'accepted'%>
          <h3 class="status accepted"><i class="fas fa-swimming-pool"></i> Accepted<h3>
        <% elsif booking.booking_status == 'declined' %>
          <h3 class="status declined"><i class="fas fa-user-times"></i> Declined<h3>
        <% else %>
          <h3 class="status pending"><i class="fas fa-user-clock"></i> Pending<h3>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
